// Define variables for your color scheme

// For example:
$red: #FD1015;
$light-red: #DA387D;
$blue: #5A7BFC;
$yellow: #FFC65A;
$orange: #FFC600;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$pink: #EE84EB;
$light_pink: rgb(253, 234, 238);
