<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github fa-2x"></i></a>
    <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
    <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
    <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
    <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
  </div>
  <div class="footer-copyright">
    All the images of this website were picked from the work of the artist <%= link_to "Gyyp", "https://www.reddit.com/user/gyyp", target: "_blank"  %> <i class="fas fa-heart"></i> and are used for showcase only
  </div>
</div>
