<div class="banner">
  <div class="container">
    <h1>Avec Air Mysticals loue des animaux fantastiques !</h1>
    <p>Mettez des paillettes dans votre vie !</p>
    <a id= btn-homepage class="btn bg-primary text-white shadow rounded" href="#">Here we go !</a>
  </div>
</div>
  <div class="container container_body">
    <div class="container_demo">
    <div class="demo_left">
      <i class="fas fa-desktop fa-10x"></i>
      <p class= "demo_text"><strong>Lorem ipsum</strong> dolor sit amet consectetur adipisicing elit.
    Ipsa est eum suscipit, animi officia veniam quas. <strong>Lorem ipsum</strong>
    dignissimos voluptas natus! Similique minima, est neque sit
    molestias laudantium laborum voluptate beatae.</p>
      <i class="fas fa-desktop fa-10x"></i>
    </div>
    <div class="demo_right">
    <p class= "demo_text"><strong>Lorem ipsum</strong> dolor sit amet consectetur adipisicing elit.
    Ipsa est eum suscipit, animi officia veniam quas. <strong>Lorem ipsum</strong>
    dignissimos voluptas natus! Similique minima, est neque sit
    molestias laudantium laborum voluptate beatae.</p>
    <i class="fas fa-desktop fa-10x"></i>
    <p class= "demo_text">
    <strong>Lorem ipsum</strong> dolor sit amet consectetur adipisicing elit.
    Ipsa est eum suscipit, animi officia veniam quas. <strong>Lorem ipsum</strong>
    dignissimos voluptas natus! Similique minima, est neque sit
    molestias laudantium laborum voluptate beatae.</p>
    </div>
    </div>
    <div class="container_card">

    </div>
  </div>
