<div class="banner">
  <div class="container">
    <h1>Avec Air Mysticals loue des animaux fantastiques !</h1>
    <p>Mettez des paillettes dans votre vie !</p>
    <a class="btn btn-primary" href="#">Nian cat here we go !</a>
  </div>
    <div class="card">
    hello</div>
</div>
