<div class="banner">
  <div class="container">
    <h1>Avec Air Mysticals loue des animaux fantastiques !</h1>
    <p>Mettez des paillettes dans votre vie !</p>
    <a class="btn bg-primary text-white shadow rounded" href="#">Here we go !</a>
  </div>
</div>
  <div class="container container_body">
    <div class="card">
    hello</div>
  </div>
