.banner {
  padding: 150px 0;
  height: 80vh;
  background-image: asset-url('home_pic.jpg');
  background-size: cover;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 40px;
}

.container{
  display: flex;
  flex-direction: column;
}

#btn-homepage{
  width: 150px;
  position: absolute;
  right: 200px;
  top: 500px;

}

.banner h1 {
  margin: 0;
  color: white;
  font-size: 5em;
  align-items: center;
  padding-bottom: 0.2em;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);

}

.banner p {
  font-size: 2em;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.search_bar_form{
  padding-top: 9em;
  justify-content: center;
  #query{
    width: 800px;
    border-radius: 20px;
  }
}
@media (max-width: 1200px) {
  .search_bar_form{
    padding-top: 5em;
    justify-content: center;
    #query{
      width: 800px;
      border-radius: 20px;
    }
  }
}
