.banner {
  padding: 150px 0;
  height: 80vh;
  background-image: asset-url('home_pic.jpg');
  background-size: cover;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.container{
  display: flex;
  flex-direction: column;
}

#btn-homepage{
  width: 150px;
  position: absolute;
  right: 200px;
  top: 500px;

}

.banner h1 {
  margin: 0;
  color: white;
  font-size: 5em;
  align-items: center;
  padding-bottom: 0.4em;
}

.banner p {
  font-size: 1.5em;
  font-weight: bold;
  color: $light-red;
}
