.card-animal {
  // width: 300px;
  height: 260px;
  // margin: auto;
  overflow: hidden;
  // overflow-y: auto;
  // position: relative;
  // z-index: 1;
  // overflow-x: hidden;
  background-color: rgba(255, 255, 255, 1);
  // display: flex;
  // flex-direction: column;
  transition: 0.3s;
  border-radius: 10px;
  box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
  opacity: 0.8;
  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }
}

.card-animal > img {
  height: 70%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-animal .card-animal-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-animal-infos .card-animal-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
// ***********************************************
// GRID CARDS

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
