.navbar-lewagon {
  justify-content: space-between;
  background: $light_pink;
  border-bottom: 2px dotted $pink;
  border-top: 2px dotted $pink;
}

.brand_name{
  font-family: 'Lobster', cursive;
  color: $blue;
  font-size: 4em;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}
